/*This takes care of any browser default padding or margins and we can start our design fresh from 0.*/
*{
    padding: 0;
    margin: 0;
}

/* create game div box */
#game {
    width: 500px;
    height: 300px;
    border: 1.5px solid black;
    margin-top: 50px;
    background-color: white;
   text-align: center;
   margin-left: 450px;
   visibility: hidden;
}
/* create player character */
#player {
    width: 20px;
    height: 50px;
    background-color:darkgreen;
    position: relative;
    top: 250px;
}
/* Now for the jumping, we create an animation in which we make the box jump to the top.

We set it to 30 and 70%. This make make it jump up, hover a bit, and then go back down.*/
@keyframes jump{
  0%{top: 250px;}
  30%{top: 200px;}
  70%{top: 200px;}
  100%{top: 250px;}
}
/* create animation class for jumping the player to use in javascript */
.animateplayer{
  animation: jump 0.6s linear;
}
/* create computer character */
#computer {
    width: 20px;
    height: 25px;
    background-color:darkred;
    position: relative;
    top: 225px;
    left: 480px;
    
}
/* To make our block slide towards the player, we create an animation and add it to the block(computer).*/
@keyframes collision{
  0%{left: 500px}
  100%{left: -20px}
}

.animatecomputer{
  animation: collision 1.5s infinite linear;
}
/* copied an already prestyled button */
.start {
  
  background-color: #FFFFFF;
  border-radius: 40em;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  transition: all .15s;
  touch-action: manipulation;

}

.start:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.start:active {
  transform: scale(1.025);
}


p{
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 1.3rem;
  text-align: center;
  visibility: hidden;
  color: white;
} 
.start {
  
    position: fixed;
    left: 45.5%;
    top:27%;
  }
#count{
  position: fixed;
    left: 47%;
    top:21%;
    font-family: -apple-system,sans-serif;
  font-size: 6.2rem;
  font-weight: 700;
  padding: 1rem 1.3rem;
  visibility: hidden;
  color: white;
}
body{
  background-image: url('background.avif');

}